body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
    background-color: #f9f9fa;
}

#emptywishlist {
    display: none;
    width: 40%;
    margin: auto;
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

#emptywishlist div:nth-child(1) {
    margin: -10% auto;
    width: 16%;
}

#emptywishlist div:nth-child(2) {
    text-align: center;
    margin-top: 13%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

#emptywishlist button {
    padding: 2% 15%;
    margin-left: 29%;
    background: linear-gradient(to right, #de57e5, #8863fb);
    border: 0;
    border-radius: 5px;
    color: white;
    margin-bottom: 300px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

nav {
    display: flex;
    background-color: white;

    /* justify-content: space-between; */
}

nav>:nth-child(2) img {
    width: 20%;
    margin-left: 5%;

}

nav button {
    border: 0;
    background-color: transparent;
    font-size: 40px;
}

nav>:nth-child(3) {
    display: flex;
    margin-right: 3%;
    margin-left: 5%;
}

nav>:nth-child(4) {
    display: flex;

}

nav>:nth-child(4) img {
    margin-top: -15px;

}

.shop:hover {
    border-bottom: 3px solid #8863FB;
}

#staticdiv {
    /* margin-top: 5%; */
    width: 61%;
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    border-left: 10px solid #8863FB;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10%;
    background-color: white;
    margin-right: 0;


}

#staticdiv>div>:nth-child(1) {
    font-size: 19px;
    color: #8863FB;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;

}

#staticdiv>div>:nth-child(2) a {
    color: #DE57E5;
    font-size: 15px;
    text-decoration: none;
}

#middle>div>div:nth-child(2) {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 0;
}

.innerdiv {
    display: flex;
    width: 100%;
    margin-left: 10%;
    margin-right: 0;

    /* border: 1px solid red; */
    /* justify-content: space-between; */
}

.innerdiv>div {
    background-color: white;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.innerdiv img {
    width: 20%;
    margin-right: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-left: 30px;

}

.remove {
    margin-top: 30%;
    display: block;
    padding: 2% 40%;
    color: #848484;
    border: 1px solid #848484;
    background-color: transparent;
}

.movewishlist {

    display: block;
    margin-top: 5%;
    border: 1px solid #8c69fb;
    background-color: transparent;
    padding: 10px 100px 10px 100px;

}

.innerdiv select {
    border: 0;
}


.details {
    margin-left: -45%;
    margin-right: 5%;
    text-align: left;
}

.details>a {
    color: #DE57E5;
}

.gprice {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.details>:nth-child(1) {
    color: #231535;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.size,
.quantity,
.quan {
    font-size: 14px;
    font-weight: 400;

}

#middle {
    /* width: 90%; */
    display: flex;
    margin: auto;
}

.avail {
    color: #8f79fa;
}

#middle>div {
    margin-top: 5%;
    margin-right: -5%;
}

#right {
    width: 30%;


}

#right>div:nth-child(1)>button {
    padding: 3% 10%;
    background-color: #f6eff6;
    color: #33363E;
    border: 0;
    border-radius: 15px;
    margin-bottom: 3%;
}

#delivery>p>span {
    color: #DE57E5;
}

#orderSummary {

    padding: 1% 3%;
    background-color: white;
}

#checkout {
    padding: 2% 39%;
    color: white;
    background: linear-gradient(to right, #de57e5, #8863fb);
    border: 0;
    border-radius: 5px;
    margin-top: 5%;
    font-size: 14px;
    cursor: pointer;
}


/* /////////// */
#aboutus {
    height: 450px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6eff6;
    /* background-color: #e5d6e5; */
    color: rgb(181, 181, 181);
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 50px;
    margin-top: 3%;
}

#aboutus> :nth-child(1) {
    width: 60%;
    height: 80%;
}

#aboutus> :nth-child(2) {
    width: 25%;
    height: 80%;
}

#aboutinner>div {
    height: 100%;
    width: 22%;
    /* border: 1px solid black; */
}

#aboutinner {
    display: flex;
    justify-content: space-between;
}

#aboutinner h5 {
    /* font-size: 1.4rem; */
    /* color: #231535; */
    /* border: 2px solid red; */
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    /* font-weight: 600; */
    /* font-family: "Baskervville", serif; */
    color: #231535;
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#aboutinner p {
    font-size: 11px;
    font-family: arial;
    /* color: #5f4b79; */
    line-height: 10px;
    /* border: 2px solid red; */
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 1.1rem; */
    color: rgb(135, 118, 157);
    text-transform: uppercase;


}

.lowabout {
    display: flex;
    /* gap:-90%; */
    align-items: center;
    margin-top: 30px;
    /* margin-left: -90px; */
    width: 30%;
    /* border: 2px solid red; */
}

/* .lowabout img{
    border: 2px solid red;
  } */
#ip {
    /* border: 2px solid red; */
    /* height: 36px;
    width: 36px; */
    width: 80%;
    cursor: pointer;
}

#pp {
    /* border: 2px solid rgb(55, 0, 255); */
    /* height: 32px;
    width: 32px; */
    width: 80%;
    cursor: pointer;
}

#fbp {
    /* border: 2px solid rgb(242, 255, 0); */
    /* height: 25px;
    width: 25px; */
    width: 90%;
    cursor: pointer;
}

#pt {
    /* border: 2px solid rgb(0, 255, 21); */
    width: 90%;
    cursor: pointer;
}

#pl {
    /* border: 2px solid rgb(16, 15, 15); */
    width: 90%;
    cursor: pointer;
}

.lowabout~p:first-of-type {
    font-size: 12px;
    color: #51248d;
    margin-top: 25px;
}

.lowabout~p:last-of-type {
    font-size: 12px;
}

#pdown {
    font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
    line-height: 24px;
    color: rgb(135, 118, 157);
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: -4px;
}

#pstore {
    /* width: 361px; */
    width: 370px;
    border: 2px double transparent;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgb(247, 234, 240) 0%, rgb(250, 246, 237) 100%), linear-gradient(90deg, rgb(199, 181, 255) 0%, rgb(252, 198, 255) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    margin-bottom: 70px;
    /* padding: 0px 10px; */


}

.pstorei {
    width: 100%;
    padding: 5px 5px 5px 5px;
}

/* CONTACT PAGE */
#contactlast h5 {
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* font-family: "Baskervville", serif; */
    color: #231535;
    font-weight: normal;
}

#contactlast p {
    font-size: 12px;
    font-family: arial;
    color: #5f4b79;
    line-height: 15px;
}

#contactlast button {
    border: 1px solid rgb(137, 0, 228);
    margin-top: 20px;
    /* border-radius: 15px; */
    padding: 13px 20px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #231535;
    border-radius: 12px;


    /* width: 111px; */
    /* margin-top: -100px; */
}

/* contact-us */
.pchat {
    /* border: 2px solid rgb(64, 255, 0); */
    width: 40%;
    text-decoration: none;

}

.pphone {
    /* border: 2px solid rgb(0, 255, 30); */
    width: 40%;
    text-decoration: none;
}

.pwhatsapp {
    /* border: 2px solid rgb(0, 255, 123); */
    width: 30%;
    text-decoration: none;
    margin-top: -5px;
}

.contactimg {
    /* border: 2px solid red; */
    /* margin-right: -25%; */
    display: flex;
    /* display: block; */
}

.ppink {
    /* border: 2px solid red; */

    color: rgb(222, 87, 229);
    text-decoration: underline;
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pdili {
    width: 170%;
    margin-left: -40%;
    margin-top: 20px;
}