body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    width: 95%;
    margin: auto;
    /* justify-content: space-between; */
}

nav>:nth-child(2) img {
    width: 20%
}

nav button {
    border: 0;
    background-color: transparent;
    font-size: 40px;
}

nav>:nth-child(3) {
    display: flex;
}

nav>:nth-child(4) {
    display: flex;
}