@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('//db.onlinewebfonts.com/c/d51e4b7fd1f8f28effd66c0a894eb8fb?family=Begum');

@import url("//fonts.googleapis.com/css?family=Muli");
/* *,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} */
body {
  border: 5px solid rgb(255, 128, 0);
  margin: 0;
  padding: 0;
  width: 100%;
  /* font-family: "Begum", sans-serif; */
  /* box-sizing: border-box; */
  overflow-x: hidden;

  /* width: 90%;
    margin: auto; */
}
/* NAVBAR */

/* body{
 
  box-sizing: border-box;
  overflow-x: hidden;
  margin-left: 2px;
} */
/* violet nav bar */
nav {
  /* border: 5px solid red;  */
  width: 100%;
  /* margin-left: 2px; */
  /* box-sizing: border-box;  */
  /* position: fixed; */
}
.pnav-main {
  /* border: 5px solid red; */
  /* display: flex; */
  /* box-sizing: border-box; */
  /* width: 100%; */
}
.sviolet {
  display: flex;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 11px;
  color: #fff;
  position: relative;
  width: 100%;
 /* background-color: #f2edf9; */
  height: 26px;
  background: #4f3267;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin-bottom: 1px;
  padding-top: 15px;
  padding-bottom: 13px;
  /* border: 2px solid red; */
  padding-right: 14px;
}
.svio-2 {
  display: flex;
  margin-right: 30px;
}

/* *************NAVBAR 2************ */
/* logo nav2.1 */
#pnav2logo {
  width: 70%;
  /* border: 2px solid red; */
  /* margin-left: 20px; */
  /* margin-left: -70%; */
}
.pnav2 {
  display: flex;
  /* width: 100%; */
  box-sizing: border-box;
  /* border: 2px solid red; */
  padding-left: 8px;
  padding-right: 0px;
  width: 100%;
  display: flex;
  font-size: 1rem;

  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f6f4ff;
}
/* nav 2----------- */
.pnav2-2 {
  display: flex;
  text-align: center;
  /* border: 2px solid rgb(135, 71, 200); */
  /* margin-left:45%; */
  font-size: 11px;
  gap: 7px;
  /* position: relative; */
  /* position: fixed; */
  color: #4f3267;
  width: 200%;
  margin-right: 20px;
  /* line-height: 27px; */
  /* padding-left: 8px; */
}

.pnav2-2 > div {
  gap: 2.8px;
  /* border: 2px solid rgb(0, 255, 17); */
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-decoration: none;
}
.npart-2-i {
  /* border: 2px solid rgb(255, 0, 72); */
  /* border: 2px solid rgb(0, 255, 17); */
  /* width: 200%; */
}
.pnav2-2 img {
  /* width: 10%; */
  /* border: 2px solid rgb(0, 255, 17); */
  width: 32px;
  height: 32px;
  padding: 5px 5px;
}
.pnav2 {
  text-align: center;
  align-items: center;
  justify-content: baseline;
}
.pnava {
  text-decoration: none;
  color: #3c3a3a;
  font-family: "MuliBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pnava:hover {
  color: black;
  font-weight: bold;
}
/* navbar 2.3 search */
form {
  /* border: 3px solid yellow; */
  display: flex;
  /* margin-right: -50px; */
  /* margin-left: -80%; */
}
form.example button {
  float: left;
  width: 30%;
  padding: 10px;
  height: 40px;
  margin-top: 4px;
  padding-left: 40px;

  border-radius: 2px;
  background: linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251));
  /* background: linear-gradient(white,white) padding-box padding-box,linear-gradient(to right,rgb(222,87,229),rgb(136,99,251)) border-box border-box; */
  /* background: #2196F3; */
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  /* padding-top: 10px; */
  /* border: 2px solid red; */
}
.pfa {
  align-items: center;
  justify-content: center;
}
/* form.example button:hover {
  background: #0b7dda;
} */

form.example::after {
  content: "";
  clear: both;
  display: table;
}
#serch-n {
  color: rgb(39, 36, 36);
  background: linear-gradient(white, white);
  border: 1px solid rgb(222, 87, 229);
  margin-top: 4px;
  align-items: center;
  justify-content: center;
}
#serch-n:hover {
  border: 1px solid rgb(222, 87, 229);
}
.pnav2-3 {
  display: flex;
  /* box-sizing: border-box; */
  /* border: 2px solid rgb(0, 255, 26);  */
  /* margin-left: -70px; */
}
.pgap {
  /* border: 2px solid rgb(0, 255, 26);  */
  margin-left: -10px;
  /* margin-right: 5px; */
  /* padding: 5px 5px; */
}
.pgap img {
  padding: 6px 7px;
  /* padding-left: 10px; */
}

/* nav 2 part 4  */
.pnav-4 {
  /* border: 2px solid red; */
  display: flex;
}
.pnav2-4 img {
  width: 30%;
}
.pnav22-4 {
  display: flex;
}
.pnav22-4 > div {
  /* border: 2px solid red; */
  /* display: flex; */
}
.pnav22-4 img {
  /* border: 2px solid red; */
  width: 30%;
}
.ji {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4px;
  padding: 10px;
}
.ji a {
  /* border: 2px solid rgb(106, 0, 255); */
  gap: -10px;
  margin-left: 15px;
}

/* nav3- last  */

.pnav3 {
  display: flex;
  list-style-type: none;
  width: 100%;
  background: #f9f9fa;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  padding: 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* box-shadow: 0 2px 2px 0 #e8e8e8; */
  z-index: 13;
  /* position: fixed; */
  /* background: #f6f4ff; */
}
.pnav3-a {
  text-decoration: none;
  color: black;
}
.pnav3-a:hover {
  /* border: 2px solid violet; */
  columns: white;
  background-color: rgb(235, 189, 235);
  padding: 7px 9px;
  cursor: pointer;
  border-radius: 6px;

  /* transition: transform 0.5s ease-in-out; */
  background: linear-gradient(to right, #f5def5 0%, #d8d0ef 100%);
}
@media screen and(min-width:1280px) {
  .pnav3 {
    min-width: 550px;
  }
}
@media screen and(min-width:993px) {
  .pnav3 {
    white-space: nowrap;
    text-align: center;
  }
}
.pnav3-1 {
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-evenly;
  font-size: 11px;
  position: relative;
  text-align: center;
  font-family: "MuliBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and(min-width:993px) {
  .pnav3-1 {
    height: auto;
  }
}
@media screen and(min-width:1280px) {
  .pnav3-1 {
    color: #231535;
  }
}
@media screen and(min-width:300px) {
  .pnav3-1 {
    display: none;
    float: none;
    visibility: hidden;
  }
}
/* --------------- nav end -------------- */

#banner {
  height: 550px;
}

#banner img{
  height: 430px;
  width: 100%;
}
.imgsec {
 
  display: flex;
  margin-top: 30px;
}

.rightimg {

  /* width: 710px; */
  position: relative;
  left: 25px;
  width: 50%;
}

.rightimg > img {
  width: 100%;
  height: 100%;
}

.twoimg {
  width: 46%;
  position: relative;
  left: 55px;
  
}

.twoimg img {
  width: 95%;
  height: 340px;
}

.lowerimg {
  position: relative;
  top: 25px;
  margin-bottom: 25px;
}

.dropbtn {
  color: black;
  font-size: 10px;
  border: none;
}

.dropdown {
  display: inline-block;
  margin-top: -4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50px;
  min-width: 160px;

  z-index: 1;
}

#dc {
  width: 95vw;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mega-menu {
  display: flex;
  background-color: white;
  position: relative;
  top: 32px;
  font-family: "Begum", sans-serif;
}

.left-menu {
  width: 40%;
  height: 400px;
  overflow: hidden;
}

.left-menu > div > h4 {
  position: relative;
  left: 30px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 100%;
}

.filter > div {
  display: flex;
  margin-left: 50px;
  gap: 10px;
  text-transform: uppercase;
}

.filter > div > p {
  margin-top: 27px;
}

.right-menu {
  width: 20%;
  height: 400px;
}

.right-menu > div > h4 {
  position: relative;
  top: 0px;
  left: 20px;
}

.metal {
  position: relative;
  top: 30px;
  left: 50px;
  text-transform: uppercase;
  line-height: 25px;
  width: 100%;
  overflow: hidden;
}

.men {
  width: 40%;
  height: 400px;
}

.men > h4 {
  position: relative;
  left: 30px;
}

.men > div {
  position: relative;
  top: 20px;
  left: 90px;
  line-height: 25px;
}

.designs {
  position: relative;
  top: 80px;
  left: 110px;
}

.exploreimg {
  position: relative;
}

.explorebtn {
  position: absolute;
  top: 25px;
  left: 50px;
}

.explorebtn button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid rgb(218, 74, 218);
  background: transparent;
  color: rgb(218, 74, 218);
  cursor: pointer;
}

.explorebtn h1 {
  color: rgb(218, 74, 218);
  font-size: 50px;
  font-weight: lighter;
}

.eardesigns {
  position: relative;
  top: 30px;
  left: 110px;
}

#box6 {
  width: 97%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

#box6 > div:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.02);
  transition: 0.5s ease;
}

#box6 > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#box3 {
  width: 97%;
  margin: auto;
  margin-top: 100px;
  height: 570px;
  display: flex;
  gap: 25px;
}

#box3 > :nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#box3 > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#box3 > :nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#box3 > div {
  overflow: hidden;
}

#box3 > div > img {
  width: 100%;
}

#box3 img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.6s ease;
}

#collections {
  border: 1px solid rgb(191, 0, 230);
  width: 16%;
  height: 50px;
  margin: auto;
  margin-top: -25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 20px;
}

#box4 {
  height: 650px;
  width: 97%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

#box4 > div > img {
  width: 100%;
  height: 100%;
}

#box2 {
  width: 97%;
  height: 450px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

#box2 img {
  height: 450px;
  width: 450px;
}

#box2 > div {
  display: flex;
  align-items: center;
}

#box2 h3 {
  font-size: 25px;
  font-weight: 100;
  width: 80%;
}

#box2 button {
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  background-color: #c850c0;
  background-image: linear-gradient(59deg, #c850c0 38%, #4158d0 78%);
  cursor: pointer;
}

#box2 select {
  border: 1px solid blueviolet;
  width: 65%;
  padding: 15px;
  cursor: pointer;
}

#box2 > div > div {
  margin-left: -90px;
}

.city {
  font-size: 20px;
}

#box3flex {
  width: 97%;
  height: 120px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

#box3flex img {
  height: 50px;
  width: 50px;
  padding: 15px;
}

#box3flex > div {
  width: 32%;
  display: flex;
  line-height: 5px;
  border: 1px solid blueviolet;
  align-items: center;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  font-family: "Baskervville", serif;
}

#box3flex > div:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.02);
  transition: 0.9s ease;
}

.offers {
  margin-left: 30px;
  letter-spacing: 1px;
}

#b31 {
  background-color: #f9f3e6;
  cursor: pointer;
}

#b32 {
  background-color: #f6f4ff;
  cursor: pointer;
}

#b33 {
  background-color: #f8eef8;
  cursor: pointer;
}

.offers :last-child {
  font-size: 13px;
  color: #f110e2;
}

#box3flex h3 {
  font-size: 16px;
  line-height: 10px;
}

#box1 {
  height: 470px;
  width: 1005;
  margin-top: 40px;
  background-color: #f7f0ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#box1 > div {
  line-height: 50px;
  font-family: "Baskervville", serif;
}

#box1 > :nth-child(2) {
  margin-left: 90px;
}

#box1 > div > :nth-child(3) {
  width: 80%;
  line-height: 30px;
}

#box1 > div > h2 {
  letter-spacing: 1px;
  font-size: 30px;
}

#images {
  display: block;
  margin: auto;
}
#fon {
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
}
/* p{

} */
#black {
  font-size: 1.4rem;
  color: rgb(196, 173, 225);
  padding: 12px 0px 24px;
}
#know {
  border: none;
  padding: 14px 70px;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  margin-top: 70px;
  background-color: #c850c0;
  background: linear-gradient(to right, #de57e5, #8863fb);
  cursor: pointer;
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#add {
  width: 100%;
  height: 350px;
  background-color: #231535;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add p {
  color: #d3a4ff;
  width: 350px;
  text-align: center;
  font-family: arial;
  font-size: 14px;
  line-height: 25px;
}
#kn {
  margin-bottom: 20px;
  /* border:10px solid #ce1a4d ; */
}
#add button {
  border: 1px solid #de57e5;
  cursor: pointer;
  margin-top: 3px;
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}
/* #bestOfCart1{
  text-decoration: underline;
  line-height: 20px;
  text-decoration-color:#b342b9;
} */
#bestOfCart {
  font-size: 28px;
  font-weight: 24px;
  height: 100px;
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "BegumRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* text-decoration: 2px solid rgb(118, 7, 26); */
  /* border-bottom: 2px solid red; */
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#bestOfCart > :nth-child(1) {
  font-family: "Baskervville", serif;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}

#bestOfCart > :nth-child(2) {
  font-family: arial;
  padding: 10px;
}

#bestOfCart button {
  width: 120px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: 1px solid rgb(113, 0, 179);
  font-size: 17px;
}

#bestOfCart button:hover {
  cursor: pointer;
  background-color: #c850c0;
  background-image: linear-gradient(59deg, #c850c0 38%, #4158d0 78%);
  color: white;
}

#bocb1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bocb2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#bestbox {
  height: 400px;
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}

#bestbox img {
  height: 310px;
  width: 100%;
  border: 0.2px solid rgb(233, 233, 233);
  border-radius: 10px;
  display: block;
  margin: auto;
}

.bestboxflex {
  height: 40px;
  border: 1px solid white;
  display: flex;
  gap: 15px;
  font-family: arial;
}

.bestboxflex :nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  color: #523569;
}

.bestboxflex :nth-child(2) {
  font-size: 17px;
  text-decoration-line: line-through;
}

.proname {
  font-size: 17px;
  margin-top: 5px;
  color: rgb(145, 145, 145);
}

#deliverybox {
  min-height: 28rem;
  width: 100%;
  /* height: 350px; */
  margin-top: 40px;
  background-color: #231535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 2px solid red; */
}

#img2b {
  /* border: 2px solid red; */
  width: 90%;
}
#deliverybox > div {
  height: 40%;
  width: 80%;
  display: flex;
  margin-left: 80px;
  /* change this marign in media query */
}

#deliverybox > :nth-child(2) {
  justify-content: flex-end;
  gap: 40px;
}

.deliveryb1 > div {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  color: white;
  font-family: arial;
  font-size: 14px;
}

.deliveryb1 > div > :nth-child(1) {
  justify-content: center;
  align-items: center;
}

.deliveryb1 > div > :nth-child(2) {
  margin-left: 20px;
}

.deliveryb1 img {
  height: 120px;
  width: 160px;
}

.dlastp {
  width: 70%;
  color: #988fd4;
}

#qoute {
  height: 500px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

#qoute > :nth-child(2) {
  width: 90%;
  display: block;
  margin: auto;

  font-size: 19px;

  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: rgb(35, 21, 53);
  margin-top: 26px;
}

#qoute > :nth-child(3) {
  font-size: 20px;

  color: rgb(136, 99, 251);
  text-align: center;

  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

#qoute button {
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;

  border: 1px solid rgb(136, 99, 251);
  border-radius: 3px;
  margin-top: 50px;
  font-weight: lighter;
}

#qoute img {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}

#instahead {
  height: 100px;
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#instahead > :nth-child(1) {
  font-size: 2rem;
  font-family: "Baskervville", serif;
  font-weight: 600;
  padding-left: 24px;
  position: relative;
  margin: 0px 0px 30px;
  color: rgb(51, 54, 62);
}

#instahead > :nth-child(2) {
  font-size: 25px;
  font-family: "Baskervville", serif;
  font-size: 1.5rem;
  color: rgb(51, 54, 62);
}

#insta {
  height: 570px;
  width: 97%;
  margin: auto;
  display: flex;
}

#insta > :nth-child(1) {
  width: 40%;
  height: 100%;
}

#insta > :nth-child(2) {
  width: 60%;
  height: 100%;
}

#bigpic {
  height: 83.5%;
  width: 100%;
}

.instainner {
  display: flex;
}

.instainner img {
  height: 100%;
  width: 100%;
}

#insta div {
  overflow: hidden;
}

#insta img:hover {
  -ms-transform: scale(1.2);

  -webkit-transform: scale(1.2);

  transform: scale(1.3);
  transition: 0.5s ease;
}

.lowimg {
  margin-top: -7px;
}

#insides {
  background: rgb(35, 21, 53);
  padding: 50px 24px;
  position: relative;
  width: 100%;
  display: block;
  min-height: 25rem;
}
#insimg {
  width: 60%;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  margin-top: -20px;
}

.insh2 {
  font-family: "Baskervville", serif;
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 30px;
  margin-top: 0px;
  color: rgb(246, 239, 246);
  font-weight: normal;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#insearch {
  border: 2px solid red;
  border-color: #ff0000;
  background: rgb(35, 21, 53);
  color: rgb(255, 255, 255);
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(222, 87, 229);
  padding: 0px 135px 0px 8px;
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-align: left;
  /* color: #333333; */
  padding: 0;
  margin: 0;
  line-height: 2;
  width: 22%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: inherit; */
  /* border: #e9e9e9 1px solid; */
  border-radius: 4px;
  cursor: text;
  margin-top: 5px;
  margin-left: 35%;
  outline: none;
}
#insubmit {
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0px 5px 5px 0px;
  box-sizing: border-box;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251));
  border: none;
  /* position: absolute; */

  width: 135px;
  padding-bottom: 2px;
  height: 40px;
  right: 0px;
  border-radius: 4px;

  margin-top: 20%;

  margin-top: 5px;
  margin-left: -7px;
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.4;

  touch-action: manipulation;
}
/*------- popup ----------- */
.popup {
  width: 400px;
  background-color: white;
  border-radius: 6px;
  position: absolute;

  top: 0;
  left: 50%;
  /* scale is used for small to big  */
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  /* to hide popup */
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 1;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0px 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/*----------- end pop -----------------*/
.sradio {
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  line-height: 80px;
  justify-content: space-evenly;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.l {
  margin-left: 0px;
  width: 90%;
  font-size: unset;
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: unset;

  color: #fffdfd;
  vertical-align: middle;
  justify-content: space-around;

  gap: 30px;
  margin-right: 50px;

  position: relative;
}

#ixy {
  color: white;

  margin-left: 40%;
  margin-bottom: -100px;

  font-size: 13px;
}

#sspan {
  color: #c850c0;
  text-align: center;
  font-size: 13px;
}
.format {
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 24px;
  position: relative;
  margin: 0 0 30px;
  color: #33363e;
  font-size: 1.6rem;
  margin-bottom: 24px;
}
.hu {
  line-height: 20px;
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#vision {
  height: 400px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

#vision > div {
  height: 100%;
  width: 31%;
}

#vision h3 {
  font-family: "Baskervville", serif;
  color: #231535;
}

#vision p {
  padding: 10px;
  font-size: 12px;
  color: #231535;
}

#aboutus {
  height: 450px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6eff6;
  /* background-color: #e5d6e5; */
  color: rgb(181, 181, 181);
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
}

#aboutus > :nth-child(1) {
  width: 60%;
  height: 80%;
}

#aboutus > :nth-child(2) {
  width: 25%;
  height: 80%;
}

#aboutinner > div {
  height: 100%;
  width: 22%;
}

#aboutinner {
  display: flex;
  justify-content: space-between;
}

#aboutinner h5 {
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;

  color: #231535;
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#aboutinner p {
  font-size: 11px;
  font-family: arial;

  line-height: 10px;

  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: rgb(135, 118, 157);
  text-transform: uppercase;
}

.lowabout {
  display: flex;

  align-items: center;
  margin-top: 30px;
  /* margin-left: -90px; */
  width: 30%;
}

#ip {
  width: 80%;
  cursor: pointer;
}

#pp {
  width: 80%;
  cursor: pointer;
}

#fbp {
  width: 90%;
  cursor: pointer;
}
#pt {
  width: 90%;
  cursor: pointer;
}
#pl {
  width: 90%;
  cursor: pointer;
}
.lowabout ~ p:first-of-type {
  font-size: 12px;
  color: #51248d;
  margin-top: 25px;
}

.lowabout ~ p:last-of-type {
  font-size: 12px;
}
#pdown {
  font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  line-height: 24px;
  color: rgb(135, 118, 157);
  margin-bottom: 5px;
  font-weight: 600;
  margin-top: -4px;
}
#pstore {
  width: 370px;
  border: 2px double transparent;
  border-radius: 20px;
  background-image: linear-gradient(
      90deg,
      rgb(247, 234, 240) 0%,
      rgb(250, 246, 237) 100%
    ),
    linear-gradient(90deg, rgb(199, 181, 255) 0%, rgb(252, 198, 255) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  margin-bottom: 70px;
  /* padding: 0px 10px; */
}
.pstorei {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

/* CONTACT PAGE */
#contactlast h5 {
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  color: #231535;
  font-weight: normal;
}

#contactlast p {
  font-size: 12px;
  font-family: arial;
  color: #5f4b79;
  line-height: 15px;
}

#contactlast button {
  border: 1px solid rgb(137, 0, 228);
  margin-top: 20px;

  padding: 13px 20px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: #231535;
  border-radius: 12px;
}
/* contact-us */
.pchat {
  width: 40%;
  text-decoration: none;
}
.pphone {
  width: 40%;
  text-decoration: none;
}
.pwhatsapp {
  width: 30%;
  text-decoration: none;
  margin-top: -5px;
}
.contactimg {
  display: flex;
}

.ppink {
  color: rgb(222, 87, 229);
  text-decoration: underline;
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pdili {
  width: 170%;
  margin-left: -40%;
  margin-top: 20px;
}
/* *****************popular seacrh******************** */
.phor {
  display: flex;
  gap: 10px;
}
.punderline {
  text-decoration: none;
}

.ppopular-search {
  font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(136, 99, 251);

  font-weight: normal;

  margin-bottom: 30px;
}
.ppopular-main {
  box-sizing: border-box;
  margin-left: 5%;
}
.phor {
  border-bottom: 1px solid rgb(220, 220, 222);
  margin-top: -10px;
  width: 80%;
  margin-bottom: 20px;
  padding-bottom: 14px;
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgb(79, 50, 103);
  text-transform: capitalize;
  text-transform: uppercase;
}
#pcopy-1 {
  display: flex;
  margin-top: -10px;
  width: 80%;
  margin-bottom: 20px;
  padding-bottom: 14px;
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgb(79, 50, 103);
  text-transform: capitalize;
  text-transform: uppercase;
  gap: 10px;

  margin-top: 5px;
}
/* #pcopy{

} */
#pcopy h3 {
  font-size: 14px;
}
/*
 ////////////////////////////// */
/* from here slides show css starts */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mySlides {
  display: none;
}

.slides-img1 {
  width: 50px;
  margin-top: 50px;
}
/* Slideshow container */
.slideshow-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(249, 249, 250);

  min-height: 20rem;
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.shilpa1 {
  margin-left: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: inherit;
  color: rgb(157, 159, 164);
  font-size: 32px;

  line-height: 44px;

  width: 90%;
  font-family: "MuliBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.shilpa {
  /* border: 2px solid green; */
  font-size: 15px;
  color: black;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
/* ***********Dropdown******************* */


/* --------------RESPONSIVE STARTS-------------------- */

/* ------------midi5 SCREEN------ */
@media only screen and (min-width:601px)and (max-width: 1000px) {

body{
  /* border: 5px solid rgb(13, 141, 13); */
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#banner img{
  /* border: 3px solid rgb(38, 0, 255); */
  /* width: 105.6%; */
}

.twoimg img{
  /* border: 3px solid rgb(38, 0, 255); */
  /* width: 89%; */
  /* margin-right: 5px; */
}
.lowerimg img{
  /* border: 3px solid rgb(38, 0, 255); */
  /* width: 89%; */
  
}
#box6{
  /* border: 5px solid blue; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
#box3 img{
  display: grid;
  width: 200%;
  height: 130%;
  /* border: 5px solid blue; */
  /* grid-template-columns: repeat(1,1fr); */
}
#collections{
  /* display: grid; */
 margin-top: 5%;
 text-align: center;
}

#box2{
  /* border: 4px solid rgb(47, 0, 255); */
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  
}
#box2 img{
  /* margin-bottom: 10px; */
  /* border: 4px solid rgb(0, 255, 38); */
  width: 100%;
  height: 90%;
}

#box22{
  margin-top: 30px;
  /* border: 4px solid rgb(0, 255, 38);  */
}
.box22i{
  
  /* border: 4px solid rgb(7, 55, 14);  */
}
#box2 h3{
 
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;

}
#box2 p{
  
  /* border: 4px solid rgb(64, 0, 255);  */
   font-size: 14px;

}
#box2 button{
  /* border: 4px solid rgb(64, 0, 255); */
  width: 60%;
  font-size: 12px;
  padding: 0px 0px ;
}
/* #bestbox{
  border: 4px solid rgb(64, 0, 255);
  margin-top: 4%;
}
#bestbox img{
  width: 100%;
} */
#box1{
  /* align-items: center;
  justify-content: center; */
  margin-top: 160%;
  /* border: 4px solid rgb(255, 0, 8); */
margin-bottom: 10%;
}
#box1 p{
  
  margin-left: -190%;
  font-size: 13px;
  line-height: 13px;
 visibility: hidden;
}
#box1 h2{
  /* border: 4px solid rgb(255, 0, 8); */
  align-items: center;
  justify-content: flex-start;
margin-top: 80%;
width: 150%;
padding: 5px 5px;
margin-left: -50%;
/* border: 4px solid rgb(255, 0, 8); */

}
#add> button{
  /* visibility: none; */
  /* border: 4px solid rgb(43, 0, 255); */
  margin-top: -900%;
}
/* #bestbox{
  
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-bottom: 270%;
} */
#ins{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10%;
  /* border: 4px solid rgb(0, 255, 55);  */
  /* grid-template-rows: repeat(3,1fr); */
}
#insta{
  /* border: 4px solid rgb(11, 11, 11); */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  width: 100%;
  height: 400%;
  gap: 1px;
  width: 200%;
  
}
.instainner{
  /* border: 10px solid rgb(0, 255, 55); */
  width: 70%;
  box-sizing: border-box;
}
.instainner img{
  width: 90%;
}
#jii{
  border: 10px solid rgb(0, 255, 55);
}
#insta>img{
  /* border: 4px solid rgb(0, 255, 55); */
  width: 100%;
  margin-top: 5%;
/* height: 50%; */
}
#insta>div{
 
width: 500px;

align-items: center;
justify-content: center;
margin-left: 120px;
}
#insides{
  margin-top: 10%;
}
}
 /*---------- Small Screen ---------- */
@media only screen and (min-width:200px)and (max-width: 600px) {

  .pnav2-2{
 font-size: 9px;
  /* visibility: hidden; */
}
.pnav2-4 img{
  visibility: hidden;
}
.imgsec{
  /* border: 10px solid red; */
display: grid;
  /* grid-template-columns: repeat(1,1fr); */
  grid-template-rows: repeat(3,1fr);
  
 
}
.rightimg{
  /* border: 4px solid blue; */
  width: 89%;
 margin-bottom:8%;
}
.twoimg{

  width: 90%;
  margin-left: -5%;
}
.imgsec img{
  width: 100%;
}
#box6{
  margin-top: -100%;
  /* border: 5px solid blue; */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* background-image: url("https://cdn.caratlane.com/media/static/images/V4/2023/CL/04-APR/AppBanner/CurationAT/01/2x.jpg"); */
}
#box3{
  /* border: 4px solid rgb(47, 0, 255);  */
  width: 100%;
  height: 400%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
#box3 img{
  /* border: 4px solid rgb(47, 0, 255);  */
  width: 100%;
  height:1000px;
}
.boxs4{

}
#box4{
  /* border: 4px solid rgb(47, 0, 255); */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
#box2{
  /* border: 4px solid rgb(47, 0, 255); */
  margin-top: 90%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
#box2 img{
  /* margin-bottom: 10px; */
}

#box22{
  margin-top: 30px;
  /* border: 4px solid rgb(0, 255, 38);  */
}
.box22i{
  
  /* border: 4px solid rgb(7, 55, 14);  */
}
#box2 h3{
 
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;

}
#box2 p{
  
  /* border: 4px solid rgb(64, 0, 255);  */
   font-size: 14px;

}
#box2 button{
  /* border: 4px solid rgb(64, 0, 255); */
  width: 60%;
  font-size: 12px;
  padding: 0px 0px ;
}
select .pcity-s{
  /* border: 4px solid rgb(255, 0, 8); */
}
#box1{
  /* align-items: center;
  justify-content: center; */
  margin-top: 100%;
  
margin-bottom: 20%;
}
#box1 p{
  
  margin-left: -190%;
  font-size: 13px;
  line-height: 13px;
 visibility: hidden;
}
#box1 h2{
  /* border: 4px solid rgb(255, 0, 8); */
  align-items: center;
  justify-content: flex-start;
margin-top: 280%;
width: 200%;
padding: 5px 5px;
margin-left: -200%;
border: 4px solid rgb(255, 0, 8);

}
#add> button{
  visibility: none;

}
#bestbox{
  
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-bottom: 270%;
}
#ins{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10%;
  /* border: 4px solid rgb(0, 255, 55);  */
  /* grid-template-rows: repeat(3,1fr); */
}
#insta{
  /* border: 4px solid rgb(11, 11, 11); */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  width: 100%;
  height: 400%;
  gap: 1px;
  
}

#insta img{
  /* border: 4px solid rgb(0, 255, 55); */
  width: 100%;
  margin-top: 5%;
/* height: 50%; */
}
#insta>div{
 
width: 500px;

align-items: center;
justify-content: center;
margin-left: 120px;
}
#bigpic{
  /* border: 4px solid rgb(72, 0, 255); */
  align-items: center;
justify-content: center;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.instainner{
  align-items: center;
justify-content: center;

  /* border: 4px solid rgb(255, 0, 0); */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
#insides{
  margin-top: 10%;
}
#aboutus{
  
  margin-top: 140%;
}
#aboutinner{
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
 line-height: 10px;
 
}
#aboutinner h5{
 
  line-height: 12px;
}
#pdown{
  /* border: 4px solid rgb(255, 0, 0); */
  margin-top: -50%;
  visibility: hidden;

}
#pdown img{
  /* width: 10px; */
}
.storeimg img{
  width: 30px;
  visibility: hidden;
   
}
.storeimg{
  /* border: 4px solid rgb(255, 0, 0); */
  border-radius: none;
  visibility: hidden;
}
.pstorei{
  visibility: hidden;
}
#pstore{
  visibility: hidden;
}
.pdil{
  margin-top: -13%;
  width: 70%;
  
}
}